/* GENERAL */
* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: blue;
    --font-color-one: white;
}

body {
    overflow: none;
}

/* HEADER */
header {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

#heading {
    color: var(--font-color-one);
}
/* Main */
/* FOOTER */
footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

#copyright {
    color: var(--font-color-one);
}